@{
    ViewData["Title"] = "Общественная редколлегия";
}

<div class="container">
    <main role="main" class="pb-3">
        <h1>Общественная редколлегия</h1>
        <div class="row">
            <!-- Пример структуры -->
            <div class="col-md-4">
                <div class="card">
                    <img src="/images/person1.jpg" class="card-img-top" alt="Фотография 1">
                    <div class="card-body">
                        <h5 class="card-title">Должность: Председатель</h5>
                        <p class="card-text">Фамилия И.О.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/images/person2.jpg" class="card-img-top" alt="Фотография 2">
                    <div class="card-body">
                        <h5 class="card-title">Должность: Член редколлегии</h5>
                        <p class="card-text">Фамилия И.О.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/images/person1.jpg" class="card-img-top" alt="Фотография 1">
                    <div class="card-body">
                        <h5 class="card-title">Должность: Председатель</h5>
                        <p class="card-text">Фамилия И.О.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/images/person2.jpg" class="card-img-top" alt="Фотография 2">
                    <div class="card-body">
                        <h5 class="card-title">Должность: Член редколлегии</h5>
                        <p class="card-text">Фамилия И.О.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/images/person1.jpg" class="card-img-top" alt="Фотография 1">
                    <div class="card-body">
                        <h5 class="card-title">Должность: Председатель</h5>
                        <p class="card-text">Фамилия И.О.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/images/person2.jpg" class="card-img-top" alt="Фотография 2">
                    <div class="card-body">
                        <h5 class="card-title">Должность: Член редколлегии</h5>
                        <p class="card-text">Фамилия И.О.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/images/person1.jpg" class="card-img-top" alt="Фотография 1">
                    <div class="card-body">
                        <h5 class="card-title">Должность: Председатель</h5>
                        <p class="card-text">Фамилия И.О.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/images/person2.jpg" class="card-img-top" alt="Фотография 2">
                    <div class="card-body">
                        <h5 class="card-title">Должность: Член редколлегии</h5>
                        <p class="card-text">Фамилия И.О.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/images/person1.jpg" class="card-img-top" alt="Фотография 1">
                    <div class="card-body">
                        <h5 class="card-title">Должность: Председатель</h5>
                        <p class="card-text">Фамилия И.О.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/images/person2.jpg" class="card-img-top" alt="Фотография 2">
                    <div class="card-body">
                        <h5 class="card-title">Должность: Член редколлегии</h5>
                        <p class="card-text">Фамилия И.О.</p>
                    </div>
                </div>
            </div>
            <!-- Добавить столько div с классом col-md-4, сколько нужно -->
        </div>
    </main>
</div>
